<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
		<bean id="tringle" class="com.cbt.spring.Tringle" >
			<constructor-arg index="0" value="Equilateral" />
			<constructor-arg index="1" value="20" />
		</bean>
		
		<bean id="p1" class="com.cbt.spring.Point" >
			<constructor-arg index="0" value="10" />
			<constructor-arg index="1" value="20" />
		</bean>
		
		<bean id="tringle1" class="com.cbt.spring.Tringle"  parent="tringle">
			<constructor-arg ref="p1" />
		</bean>
		
		
		
		
</beans>